-# encoding: UTF-8

%h2
	Tableau de bord
.col-md-6
	%h3 Mes travaux
	.table-responsive
		%table.table.table-hover.table-condensed
			%tr
				%th Type
				%th Description
				%th Lieu
				%th Date
				%th Status
				%th Date d'échéance
			- @mes_travaux.each do |travail|
				- classe = ""
				- if travail[:date_echeance]
					- ech = travail[:date_echeance]
					- classe = ( ech < Date.today ? "danger" : (ech == Date.today ? "warning" : ""))
				%tr{class: "#{classe}", onclick: "window.document.location='/travaux/#{travail[:id]}';"}
					%td
						%img{src: "/icons/type/#{travail.type.icone}", width: "25px", title: "#{travail.type.description}"}
					%td
						= travail.description
					%td
						= "#{travail.place.site.name} > #{travail.place.name}"
					%td
						= travail.date.strftime("%d/%m/%Y")
					%td
						= travail.state.name
					%td
						= (ech ? ech.strftime("%d/%m/%Y") : "")
.col-md-6
	%h3 Travaux non attribués
	.table-responsive
		%table.table.table-hover.table-condensed
			%tr
				%th Type
				%th Description
				%th Lieu
				%th Date
				%th Status
				%th Date d'échéance
			- @travaux_non_attribues.each do |travail|
				- classe = ""
				- if travail[:date_echeance]
					- ech = travail[:date_echeance]
					- classe = ( ech < Date.today ? "danger" : (ech == Date.today ? "warning" : ""))
				%tr{class: "#{classe}", onclick: "window.document.location='/travaux/#{travail[:id]}';"}
					%td
						%img{src: "/icons/type/#{travail.type.icone}", width: "25px", title: "#{travail.type.description}"}
					%td
						= travail.description
					%td
						= "#{travail.place.site.name} > #{travail.place.name}"
					%td
						= travail.date.strftime("%d/%m/%Y")
					%td
						= travail.state.name
					%td
						= (ech ? ech.strftime("%d/%m/%Y") : "")
