-# encoding: UTF-8

%form.form-inline.well{action: '/filtre', method: 'post'}
	- tous_type(just_id=false).each do |type|
		.form-group
			%label
				- check = (session[:type] || [type[:id]]).include?(type[:id])
				%input{name: "type[]", type: "checkbox", value: "#{type[:id]}", checked: check}
					%img{src: "/icons/type/#{type[:icone]}", width:"25px", title: "#{type[:description]}"}
	%select.form-control{name: "state"}
		- filtre_states.each do |filtre|
			%option{value: filtre[:id], selected: filtre[:actif]}
				= filtre[:nom]
	- unless request.path_info.include?("/lieu")
		%select.form-control{name: "site"}
			- filtre_sites.each do |site|
				%option{value: site[:id], selected: site[:actif]}
					= site[:nom]
	%button.btn.btn-primary{type: "submit"}
		Filtrer
