<!DOCTYPE html>
<html>
	<head>
		<title>POSAO</title>
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/css.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/bootstrap-table.css" rel="stylesheet">
	</head>
	<body>
		<script src="/vendor/jquery-1.11.2.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap-table.js"></script>
		<script src="/vendor/bootstrap/js/locale/bootstrap-table-fr-FR.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap-table-export.js"></script>
		<script src="/vendor/bootstrap/js/tableExport.js"></script>
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">
							Toggle navigation
						</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse.collapse">
					<ul class="nav navbar-nav">
						<% menus.each do |menu| %>
							<% if (!(menu["titre"]=="Configuration") or admin?) %>
								<li>
									<a title="<%=menu["titre"]%>" href="<%=menu["url"]%>">
										<img class="image_menu" src="/icons/menu/<%=menu["icon"]%>" width="45px"/>
									</a>
								</li>
							<%end%>
						<%end%>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown">
								<%= username %>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<% if !session[:identity] %>
									<li>
										<a href="/login/form">
											Connexion
										</a>
									</li>
								<% else %>
									<li>
										<a href="/logout">
											Déconnexion
										</a>
									</li>
								<% end %>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<div>
				<% unless session[:error].to_s.empty? then %>
					<div class="alert alert-error" role="alert">
						<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
						<span class="sr-only">
							Error
						</span>
						<%= session[:error] %>
					</div>
					<% session[:error]="" %>
				<% end %>
		  	<%= yield %>
			</div>
		</div>
	</body>
</html>
