-# encoding: UTF-8

<!DOCTYPE html>
%html
	%head
		%title
			POSAO
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
		%link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}
		%link{href: "/vendor/bootstrap/css/css.css", rel: "stylesheet"}
		%link{href: "/vendor/bootstrap/css/bootstrap-table.css", rel: "stylesheet"}
	%body
		%script{src:"/vendor/jquery-1.11.2.min.js"}
		%script{src:"/vendor/bootstrap/js/bootstrap.min.js"}
		%script{src:"/vendor/bootstrap/js/bootstrap-table.js"}
		%script{src:"/vendor/bootstrap/js/locale/bootstrap-table-fr-FR.js"}
		%script{src:"/vendor/bootstrap/js/tableExport.js"}
		.container
			%nav.navbar.navbar-default{role: "navigation"}
				.navbar-header
					%button.navbar-toggle{type:"button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
						%span.sr-only
							Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
				.navbar-collapse.collapse
					%ul.nav.navbar-nav
						- menus.each do |menu|
							- if (!(menu["titre"]=="Configuration") or admin?)
								%li
									%a{title: "#{menu["titre"]}", href: "#{menu["url"]}"}
										%img.image_menu{src: "/icons/menu/#{menu["icon"]}", width: "45px"}
					%ul.nav.navbar-nav.navbar-right
						%li.dropdown
							%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
								= username
								%b.caret
							%ul.dropdown-menu
								- if !session[:identity]
									%li
										%a{href:"/login/form"}
											Connexion
								- else
									%li
										%a{href:"/logout"}
											Déconnexion
			%div
				- unless session[:error].to_s.empty? then
					.alert.alert-error{role:"alert"}
						%span.glyphicon.glyphicon-ok-sign{"aria-hidden" => "true"}
						%span{class:"sr-only"}
							Error
						= session[:error]
					- session[:error]=""
				= yield
