-# encoding: UTF-8

%script{src: "//www.google.com/jsapi"}
%script{src: "/vendor/chartkick.js"}

.col-md-4
	%h2
		Lieu : #{@lieu.site.name} > #{@lieu.num} - #{@lieu.name}
.col-md-8
	= haml :filtre
.col-md-12				
	.table-responsive
		%table.table.table-hover
			%tr
				%th Type
				%th Description
				%th Date
				%th Attribué à
				%th Status
				%th Date d'échéance
			- @travaux.each do |travail|
				- classe = ([4,5].include?(travail.state_id) ? "success" : "")
				- if travail[:date_echeance]
					- ech = travail.date_echeance
					- classe = ([4,5].include?(travail.state_id) ? "success" : (ech < Date.today ? "danger" : (ech == Date.today ? "warning" : "")))
				%tr{class: "#{classe}", onclick: "window.document.location='/travaux/#{travail.id}';"}
					%td
						%img{src: "/icons/type/#{travail.type.icone}", width: "25px", title: "#{travail.type.description}"}
					%td
						= travail.description
					%td
						= travail.date.strftime("%d/%m/%Y")
					%td
						= (travail.technician ? travail.technician.name : "")
					%td
						= travail.state.name	
					%td
						= (ech ? ech.strftime("%d/%m/%Y") : "")
.col-md-12
	.text-right
		%a.btn.btn-primary{href: "/lieu/#{@lieu.id}/new"}
			Nouveau travail
.col-md-12.well	
	%h3
		Types d'interventions
	= pie_chart Task.joins(:type).where(type_id: tous_type, place_id: @lieu.id).group("types.description").count
