-# encoding: UTF-8

%form.form-inline.well{action: '/login/attempt', method: 'post'}
	%input{type: "text", name: 'username', placeholder: "email", autofocus: true, required: true}
	%input{type: "password", name: 'password', placeholder: "mot de passe", required: true}
	%input.btn.primary{type: 'submit', value: 'Connexion'}
