-# encoding: UTF-8

.col-md-4
	%h2
		Plans
.col-md-8
	= haml :filtre
.col-md-12		
	.table-responsive
		%div{style: "position:relative;"}
			- largeur = 1100
			%img{src: "/plans/#{@site.plan}", width: "#{largeur}px"}
			- @lieux.each do |id,lieu|
				%a{href: "/lieu/#{id}"}
					%img.icone_plan{src: "/icons/type_plan/#{lieu[:icone]}", width: "#{lieu[:taille]}px", style: "top:#{lieu[:y]}px;left:#{lieu[:x]}px;", title:"#{lieu[:bulle]}"}
