-# encoding: UTF-8

%h2
	Sites
.col-md-12				
	%form.form-horizontal{action: '/sites', method: 'post'}
		.form-group
			%label.col-sm-2{for:"selectNom" , "control-label" => true}
				Nom
			.col-sm-10
				%input{type: "text", name: 'inputNom', value: "#{(@site ? @site.name : '')}", required: true}
		.form-group
			%input{type: "text", name: 'id', hidden: true, value: "#{(@site ? @site.id : '0')}", readonly: true}
			%label.col-sm-2{for:"imagePlan" , "control-label" => true}
				Plan
			.col-sm-10
				%input{type: "text", name: 'imagePlan', value: "#{(@site ? @site.plan : '')}", required: true}
		.form-group
			.col-sm-offset-2.col-sm-10
				%input.btn.btn-primary{type: "submit", value: 'Enregistrer'}
				ou
				%a{href: "/sites"}
					Annuler
- if @site 
	.col-md-12
		%h3
			.col-md-6
				Lieux :
			.col-md-6
				.text-right
					%button.btn.btn-primary{id: "nouveauLieuButton",type: "button", "data-toggle"=>"modal", "data-target"=>"#myModal"}
						Ajouter un lieu
	.col-md-12
		.table-responsive
			%table.table.table-hover
				%tr
					%th id
					%th Lieu
					%th Numéro
					%th	X
					%th Y
					%th
				- @site.places.each do |lieu|
					%tr
						%td
							= lieu.id
						%td
							= lieu.name
						%td
							= lieu.num
						%td
							= lieu.x
						%td
							= lieu.y	
						%td
							%button.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#myModal", "data-id" => "#{lieu.id}", "data-num" => "#{lieu.num}", "data-name" => "#{lieu.name}", "data-x" => "#{lieu.x}", "data-y" => "#{lieu.y}"}
								Modifier
	.modal.fade{id: "myModal", tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true}
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", "aria-label" => "Close"}
						%span{"aria-hidden"=>true}
							&times;
					%h4.modal-title{id: "myModalLabel"}
						Ajouter un lieu
				.modal-body
					%form.form-horizontal{id: "formAction", action: '/lieux', method: 'post'}
						.form-group
							%input{type: "text", id: 'siteId', name: 'siteId', hidden: true, value: "#{@site.id.to_s}"}
							%input{type: "text", id: 'lieuId', name: 'lieuId', hidden: true, value: "0"}
							%label.col-sm-2{for:"inputLieuNom" , "control-label" => true}
								Nom
							.col-sm-10
								%input{id: "inputLieuNom", name: "inputLieuNom", type: "text"}
							%label.col-sm-2{for:"inputNum" , "control-label" => true}
								Numéro
							.col-sm-10
								%input{id: "inputNum", name: "inputNum", type: "text"}
							%label.col-sm-2{for:"inputX" , "control-label" => true}
								x
							.col-sm-10
								%input{id: "inputX", name: "inputX", type: "text"}
							%label.col-sm-2{for:"inputY" , "control-label" => true}
								y
							.col-sm-10
								%input{id: "inputY", name: "inputY", type: "text"}
					%div{style: "position:relative;padding:0px;margin:0px"}
						%img{id: "imagePlan",src: "/plans/#{@site.plan}", width: "870px"}
						%img.icone_plan{id: "imagePoint",src: "/icons/type_plan/check.png", width: "10px", style: "top:-10px;left:-10px;"}
				.modal-footer
					%button.btn.btn-primary{type: "submit", form: "formAction"}
						Enregistrer
					ou
					%a{"data-dismiss"=>"modal"}
						Annuler

:javascript				
	jQuery(document).ready(function() {
		$('#myModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var titre = button.data('name');
			var modal = $(this);
			modal.find('.modal-title').text('Lieu: ' + titre);
			$('#lieuId').val(button.data('id'));
			$('#inputLieuNom').val(titre);
			$('#inputNum').val(button.data('num'));
			$('#inputX').val(button.data('x'));
			$('#inputY').val(button.data('y'));
			var x = button.data('x')*870-5;
			var y = button.data('y')*870-5;
			$("#imagePoint").css({'top': y+'px', 'left': x+'px'});
		});
		$("#imagePlan").on("click", function (e) {
			var offset = $(this).offset();
			var x = e.clientX - offset.left + $(window).scrollLeft();
			var y = e.clientY - offset.top + $(window).scrollTop();
			$('#inputX').val(x/870);
			$('#inputY').val(y/870);
			$("#imagePoint").css({'top': $('#inputY').val()*870-5+'px', 'left': $('#inputX').val()*870-5+'px'});
		});
	});
	
