-# encoding: UTF-8

%h2
	Site
.col-md-12				
	.table-responsive
		%table.table.table-hover
			%tr
				%th id
				%th Nom
				%th Plan
			- @sites.each do |site|
				%tr{onclick: "window.document.location='/sites/#{site.id}';"}
					%td
						= site.id
					%td
						= site.name
					%td
						%img{src: "/plans/#{site.plan}", height: "50px"}
	%a.btn.btn-primary{href: "/sites/0"}
		Nouveau site
	ou
	%a{href: "/configuration"}
		Retour
