<script src="//www.google.com/jsapi"></script>
<script src="/vendor/chartkick.js"></script>

<h2>
	<%= "Statistiques pour l'année #{@year}" %>
</h2>
<div class="col-md-12">
	<h3> Travaux / Semaines </h3>
	<%= line_chart @travaux_semaine %>
	<div id="travaux_semaine_div">
		<table id="table1"
			data-toolbar="#toolbar1"
			data-search="true"
			data-show-columns="false"
			data-show-export="true"
			data-show-pagination-switch="false"
			data-pagination="true"
			data-page-list="[10, 25, 50, 100, 1000]"
			data-show-footer="false"
			data-toggle="table">
			<thead>
				<tr>
					<th> Semaine </th>
					<th> Nombre de travaux</th>
				</tr>
			</thead>
			<tbody>
			<% @travaux_semaine_tab.each do |travail| %>
				<tr>
					<td>
						<%= travail[0].strftime("du %d/%m/%Y") %>
					</td>
					<td>
						<%= travail[1] %>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-6">
		<h3> Travaux / Types d'interventions </h3>
		<%= pie_chart @travaux_type %>
		<div id="travaux_type_div">
			<table id="table1"
				data-toolbar="#toolbar1"
				data-search="true"
				data-show-columns="false"
				data-show-export="true"
				data-show-pagination-switch="false"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, 1000]"
				data-show-footer="false"
				data-toggle="table">
				<thead>
					<tr>
						<th> Type </th>
						<th> Nombre de travaux</th>
					</tr>
				</thead>
				<tbody>
				<% @travaux_type_tab.each do |travail| %>
					<tr>
						<td>
							<%= travail[0] %>
						</td>
						<td>
							<%= travail[1] %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h3> Travaux / Etats </h3>
		<%= pie_chart @travaux_etat %>
		<div id="travaux_etat_div">
			<table id="table1"
				data-toolbar="#toolbar1"
				data-search="true"
				data-show-columns="false"
				data-show-export="true"
				data-show-pagination-switch="false"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, 1000]"
				data-show-footer="false"
				data-toggle="table">
				<thead>
					<tr>
						<th> Etat </th>
						<th> Nombre de travaux</th>
					</tr>
				</thead>
				<tbody>
				<% @travaux_etat_tab.each do |travail| %>
					<tr>
						<td>
							<%= travail[0] %>
						</td>
						<td>
							<%= travail[1] %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-6">
		<h3> Travaux / Sites </h3>
		<%= pie_chart @travaux_site %>
		<div id="travaux_site_div">
			<table id="table1"
				data-toolbar="#toolbar1"
				data-search="true"
				data-show-columns="false"
				data-show-export="true"
				data-show-pagination-switch="false"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, 1000]"
				data-show-footer="false"
				data-toggle="table">
				<thead>
					<tr>
						<th> Site </th>
						<th> Nombre de travaux</th>
					</tr>
				</thead>
				<tbody>
				<% @travaux_site_tab.each do |travail| %>
					<tr>
						<td>
							<%= travail[0] %>
						</td>
						<td>
							<%= travail[1] %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h3> Travaux / Rapporteur </h3>
		<%= pie_chart @travaux_rapporteur %>
		<div id="travaux_rapporteur_div">
			<table id="table1"
				data-toolbar="#toolbar1"
				data-search="true"
				data-show-columns="false"
				data-show-export="true"
				data-show-pagination-switch="false"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, 1000]"
				data-show-footer="false"
				data-toggle="table">
				<thead>
					<tr>
						<th> Rapporteur </th>
						<th> Nombre de travaux</th>
					</tr>
				</thead>
				<tbody>
				<% @travaux_rapporteur_tab.each do |travail| %>
					<tr>
						<td>
							<%= travail[0] %>
						</td>
						<td>
							<%= travail[1] %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-6">
		<h3> Actions / Fournisseur </h3>
		<%= pie_chart @actions_fournisseur %>
		<div id="actions_fournisseur_div">
			<table id="table1"
				data-toolbar="#toolbar1"
				data-search="true"
				data-show-columns="false"
				data-show-export="true"
				data-show-pagination-switch="false"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, 1000]"
				data-show-footer="false"
				data-toggle="table">
				<thead>
					<tr>
						<th> Fournisseur </th>
						<th> Nombre d'actions</th>
					</tr>
				</thead>
				<tbody>
				<% @actions_fournisseur_tab.each do |travail| %>
					<tr>
						<td>
							<%= travail[0] %>
						</td>
						<td>
							<%= travail[1] %>
						</td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% tous_sites(false).each do |site| %>
	<div class="col-md-6">
		<h3> Travaux <%=site.name%> / Lieux </h3>
		<%= pie_chart Task.joins(place: [:site]).where(type_id: tous_type, "places.site_id" => site.id).where('extract(year  from date) = ?', @year).group("places.name").count %>
	</div>
<% end %>
