-# encoding: UTF-8

%script{src: "//www.google.com/jsapi"}
%script{src: "/vendor/chartkick.js"}

%h2
	= "Statistiques pour l'année #{@year}"
.col-md-12
	%h3 Travaux / Semaines
	= line_chart Task.where('extract(year  from date) = ?', @year).group_by_week(:date).count
.col-md-6
	%h3 Travaux / Types d'interventions
	= pie_chart Task.joins(:type, :place).where(type_id: tous_type, "places.site_id" => tous_sites).where('extract(year  from date) = ?', @year).group("types.description").count
.col-md-6
	%h3 Travaux / Etats
	= pie_chart Task.joins(:state, :place).where(type_id: tous_type, "places.site_id" => tous_sites).where('extract(year  from date) = ?', @year).group("states.name").count
.col-md-6
	%h3 Travaux / Sites
	= pie_chart Task.joins(place: [:site]).where(type_id: tous_type, "places.site_id" => tous_sites).where('extract(year  from date) = ?', @year).group("sites.name").count
.col-md-6
	%h3 Travaux / Rapporteur
	= pie_chart Task.joins(:technician, :place).where(type_id: tous_type, "places.site_id" => tous_sites).where('extract(year  from date) = ?', @year).group("technicians.name").count
.col-md-6
	%h3 Actions / Fournisseur
	= pie_chart Action.joins(:supplier).where('extract(year  from date) = ?', @year).group("suppliers.name").count
- tous_sites(false).each do |site|
	.col-md-6
		%h3 Travaux #{site.name} / Lieux
		= pie_chart Task.joins(place: [:site]).where(type_id: tous_type, "places.site_id" => site.id).where('extract(year  from date) = ?', @year).group("places.name").count
