-# encoding: UTF-8

.col-md-4
	%h2
		Liste des travaux
.col-md-8
	= haml :filtre
.col-md-12
	.table-responsive
		%table{id: "table1"}
			%tr
				%th Type
				%th Description
				%th Lieu
				%th Date
				%th Rapporté par
				%th Statut
				%th Date d'échéance
				%th Fiche A
			- @travaux.each do |travail|
				- classe = (travail.state_id==4 ? "success" : "")
				- if travail[:date_echeance]
					- ech = travail.date_echeance
					- classe = ([4,5].include?(travail.state_id) ? "success" : (ech < Date.today ? "danger" : (ech == Date.today ? "warning" : "")))
				%tr{class: "#{classe}", onclick: "window.document.location='/travaux/#{travail.id}';"}
					%td
						%img{src: "/icons/type/#{travail.type.icone}", width: "25px", title: "#{travail.type.description}"}
					%td
						= travail.description.gsub("\n","<br/>")
					%td
						%a{href: "/lieu/#{travail.place.id}"}
							= "#{travail.place.site.name} > #{travail.place.name}"
					%td
						= travail.date.strftime("%d/%m/%Y")
					%td
						= (travail.technician ? travail.technician.name : "")
					%td
						= travail.state.name
					%td
						= (ech ? ech.strftime("%d/%m/%Y") : "")
					%td
						= travail.ficheA.to_s
