-# encoding: UTF-8

- validate = (@new ? false : [4,5].include?(@travail.state_id))
- modif = (@new ? true : (validate ? false : @travail.technician_id==session[:identity][:id]))
.col-md-12
	%h2
		- if @new
			Nouveau travail
		- else
			%img{src: "/icons/type/#{@travail.type.icone}", width: "35px"}
			Travail ##{@travail.id} rapporté le #{@travail.date.strftime("%d/%m/%Y")} par #{@travail.technician.name}
	
	%form.form-horizontal.well{action: '/travaux', method: 'post'}
		.form-group
			%label.col-sm-2{for:"selectPlace" , "control-label" => true}
				Lieu
			.col-sm-10
				%select.form-control{name: "selectPlace", required: true, readonly: !modif}
					- Place.includes(:site).order("sites.id, places.name").each do |place|
						%option{value: "#{place.id}", selected: (@new ? (@lieu==place.id ? true : false) : place.id==@travail.place_id)}
							= "#{place.site.name} -> #{place.name} (#{place.num})"
		.form-group
			- id = (@new ? "0" : @travail.id.to_s)
			%input{type: "text", name: 'id', hidden: true, value: "#{id}", readonly: !modif}
			%label.col-sm-2{for:"selectType" , "control-label" => true}
				Type
			.col-sm-10
				%select.form-control{name: "selectType", required: true, readonly: !modif}
					- tous_type(false).each do |type|
						%option{value: "#{type.id}", style: 'background: url("/icons/type/#{type.icone}") no-repeat; padding-left: 20px; background-size: 15px;', selected: (@new ? false : type.id==@travail.type_id)}
							= type.description
		.form-group
			%label.col-sm-2{for:"selectStatus" , "control-label" => true}
				Statut
			.col-sm-10
				%select.form-control{name: "selectStatus", required: true, readonly: validate}
					- State.all.each do |state|
						%option{value: "#{state.id}", selected: (@new ? false : state.id==@travail.state_id)}
							= state.name
		.form-group
			%label.col-sm-2{for:"inputTitle" , "control-label" => true}
				Description
			.col-sm-10
				%textarea.form-control{id: "inputTitle", name: "inputTitle", rows: 3, required: true, readonly: !modif}
					= (@new ? '' : @travail.description)
		.form-group
			%label.col-sm-2{for:"inputDateEch" , "control-label" => true}
				Date d'échance
			.col-sm-10
				- date_ech = (@new ? "" : (@travail.date_echeance ? @travail.date_echeance.strftime("%d/%m/%Y") : "" ))
				%input.form-control{name: "inputDateEch", readonly: validate, value: date_ech}
		- unless @new
			.form-group
				%label.col-sm-2{for:"inputRecommendation" , "control-label" => true}
					Préconisation
				.col-sm-10
					%textarea.form-control{name: "inputRecommendation", rows: 3, readonly: validate}
						= (@new ? "" : @travail.recommendation)
			.form-group
				%label.col-sm-2{for:"inputFicheA" , "control-label" => true}
					Numéro de fiche A
				.col-sm-10
					%input.form-control{name: "inputFicheA", value: @travail.ficheA}  

		.form-group
			.col-sm-offset-2.col-sm-10
				- if validate
					%p
						= "Validé par #{@travail.technician_validate}"
				-else
					%input.btn.btn-primary{type: "submit", value: 'Enregistrer'}
					ou
					%a{href: "/"}
						Annuler

- unless @new
	.col-md-12
		%h3
			.col-md-6
				Actions effectuées :
			.col-md-6
				.text-right
					- unless validate
						%button.btn.btn-primary{type: "button", "data-toggle"=>"modal", "data-target"=>"#myModal", "data-id"=>"0" }
							Ajouter une action
	.col-md-12
		.table-responsive
			%table.table.table-hover
				%tr
					%th Date
					%th Description
					%th Réalisé par
					%th Ajoutée par
					%th
				- @actions.each do |action|
					%tr
						%td
							= action.date.strftime("%d/%m/%Y")
						%td
							= action.description.gsub("\n","<br/>")
						%td
							= action.supplier.name
						%td
							= action.technician.name
						- if (!validate and action.technician_id==session[:identity][:id])
							%td{align: "right"}
								%button.btn.btn-success.btn-xs{type: "button", "data-toggle"=>"modal", "data-target"=>"#myModal", "data-id"=>"#{action.id}", "data-description"=>"#{action.description}", "data-supplier"=>"#{action.supplier.id}", "data-technician"=>"#{action.technician.id}", "data-date"=>"#{action.date.strftime('%d/%m/%Y')}"}
									Modifier
	
	.modal.fade{id: "myModal", tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", "aria-label" => "Close"}
						%span{"aria-hidden"=>true}
							&times;
					%h4.modal-title{id: "myModalLabel"}
						Ajouter une action
				.modal-body
					%form.form-horizontal{id: "formAction", action: '/action', method: 'post'}
						.form-group
							%input{type: "text", name: 'taskId', id: 'taskId', hidden: true, value: "#{@travail.id.to_s}"}
							%input{type: "text", name: 'actionId', id: 'actionId', hidden: true}
							%label.col-sm-2{for:"inputActionDescription" , "control-label" => true}
								Description
							.col-sm-10
								%textarea.form-control{name: "inputActionDescription", id: "inputActionDescription", rows: 3}
						.form-group
							%label.col-sm-2{for:"selectSupplier" , "control-label" => true}
								Réalisé par
							.col-sm-10
								%select.form-control{name: "selectSupplier", id: "selectSupplier", required: true}
									- Supplier.order(:name).each do |supplier|
										%option{value: "#{supplier.id}"}
											= supplier.name
						.form-group
							%label.col-sm-2{for:"inputDateAction" , "control-label" => true}
								Date
							.col-sm-10
								%input{type: "date", name: 'inputDateAction', id: 'inputDateAction'}
				.modal-footer
					%button.btn.btn-default{type: "button", "data-dismiss"=>"modal"}
						Annuler
					%button.btn.btn-primary{type: "submit", form: "formAction"}
						Enregistrer
						
:coffeescript				
	$ ->
		$('#myModal').on('show.bs.modal', (event) ->
			button = $(event.relatedTarget)
			$('#actionId').val(button.data('id'))
			$('#inputActionDescription').val(button.data('description'))
			$('#inputDateAction').val(button.data('date'))
			$('#selectSupplier option[value="' + button.data('supplier') + '"]').prop('selected', true);
		)
