<div class="col-md-4">
	<h2>Liste des travaux</h2>
</div>
<div class="col-md-8">
	<%= haml :filtre %>
</div>
<div class="col-md-12">
	<table id="table1"
		data-toolbar="#toolbar1"
		data-search="true"
		data-show-columns="true"
		data-show-export="true"
		data-show-pagination-switch="false"
		data-pagination="true"
		data-page-list="[10, 25, 50, 100, 1000]"
		data-show-footer="false"
		data-toggle="table">
		<thead>
			<tr>
				<th> Type </th>
				<th> Description</th>
				<th> Lieu</th>
				<th> Date</th>
				<th> Rapporté par</th>
				<th> Statut</th>
				<th> Date d'échéance</th>
				<th> Fiche A</th>
			</tr>
		</thead>
		<tbody>
		<% @travaux.each do |travail| %>
			<% classe = (travail.state_id==4 ? "success" : "") %>
			<% if travail[:date_echeance] %>
				<% ech = travail.date_echeance %>
				<% classe = ([4,5].include?(travail.state_id) ? "success" : (ech < Date.today ? "danger" : (ech == Date.today ? "warning" : ""))) %>
			<% end %>
			<tr class="<%=classe%>" onclick="window.document.location='/travaux/<%=travail.id%>';">
				<td>
					<img src="/icons/type/<%=travail.type.icone%>" width="25px" title="<%=travail.type.description%>"/>
				</td>
				<td>
					<a href="/travaux/<%=travail.id%>">
						<%= travail.description.gsub("\n","<br/>") %>
					</a>
				</td>
				<td>
					<a href="/lieu/<%=travail.place.id%>">
						<%= "#{travail.place.site.name} > #{travail.place.name}" %>
					</a>
				</td>
				<td>
					<%= travail.date.strftime("%d/%m/%Y") %>
				</td>
				<td>
					<%= (travail.technician ? travail.technician.name : "") %>
				</td>
				<td>
					<%= travail.state.name %>
				</td>
				<td>
					<%= (ech ? ech.strftime("%d/%m/%Y") : "") %>
				</td>
				<td>
					<%= travail.ficheA.to_s %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>
