-# encoding: UTF-8

%h2
	Utilisateurs
.col-md-12				
	.table-responsive
		%table.table.table-hover
			%tr
				%th Nom
				%th Login
				%th email
				%th admin?
				%th actif?
				%th
			- @users.each do |user|
				%tr
					%td
						= user.name
					%td
						= user.login
					%td
						= user.email
					%td
						= (user.admin ? "oui" : "non")
					%td
						= (user.actif ? "oui" : "non")
					%td
						%button.btn.btn-success.btn-xs{type: "button", "data-id"=>"#{user.id}", "data-toggle"=>"modal", "data-target"=>"#myModal", "data-name" => "#{user.name}", "data-login" => "#{user.login}", "data-title" => "Utilisateur n°#{user.id}", "data-email" => "#{user.email}", "data-admin" => "#{user.admin}", "data-actif" => "#{user.actif}", "data-typedroit" => "#{user.get_types_ids.join(',')}", "data-sitedroit" => "#{user.get_sites_ids.join(',')}"}
							Modifier
	%button.btn.btn-primary{type: "button", "data-id"=>"0", "data-toggle"=>"modal", "data-target"=>"#myModal", "data-admin" => "false", "data-actif" => "true"}
		Nouvel utilisateur
	ou
	%a{href: "/configuration"}
		Retour
	
	.modal.fade{id: "myModal", tabindex: "-1", role: "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => true}
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					%button.close{"data-dismiss" => "modal", "aria-label" => "Close"}
						%span{"aria-hidden"=>true}
							&times;
					%h4.modal-title{id: "myModalLabel"}
						Ajouter un utilisateur
				.modal-body
					%form.form-horizontal{id: "formAction", action: '/users', method: 'post'}
						.form-group
							%input{type: "text", id: 'userId', name: 'userId', hidden: true}
							%label.col-sm-2{for:"userName" , "control-label" => true}
								Nom
							.col-sm-10
								%input{id: "userName", name: "userName", type: "text", required: true}
							%label.col-sm-2{for:"userLogin" , "control-label" => true}
								Login
							.col-sm-10
								%input{id: "userLogin", name: "userLogin", type: "text", required: true}
							%label.col-sm-2{for:"userEmail" , "control-label" => true}
								Email
							.col-sm-10
								%input{id: "userEmail", name: "userEmail", type: "text"}
							%label.col-sm-2{for:"userAdmin" , "control-label" => true}
								Admin ?
							.col-sm-10
								%input{id: "userAdmin", name: "userAdmin", type: "checkbox"}
							%label.col-sm-2{for:"userActif" , "control-label" => true}
								Actif ?
							.col-sm-10
								%input{id: "userActif", name: "userActif", type: "checkbox"}
							%label.col-sm-2{for:"userPassword" , "control-label" => true}
								Mot de passe
							.col-sm-10
								%input{id: "userPassword", name: "userPassword", type: "password"}
							%input{type: "text", id: 'typeDroits', name: 'typeDroits', hidden: true}
							%input{type: "text", id: 'siteDroits', name: 'siteDroits', hidden: true}
						.form-group
							.col-md-6
								%table.table.table-hover{id: "table_type"}
									%tr
										%th Types de travaux
										%th 
									- Type.all.each do |type|
										%tr{id: "ligne_type_#{type.id}", class: "ligne_type"}
											%td 
												= type.description
											%td{align: "right"}
												%button.btn.btn-success.btn-xs{type: "button", onclick:"type_autorise(#{type.id})"}
													Autoriser
												%button.btn.btn-danger.btn-xs{type: "button", onclick:"type_interdit(#{type.id})"}
													Interdire
							.col-md-6
								%table.table.table-hover{id: "table_site"}
									%tr
										%th Sites
										%th
									- Site.all.each do |site|
										%tr{id: "ligne_site_#{site.id}", class: "ligne_site"}
											%td
												= site.name
											%td{align: "right"}
												%button.btn.btn-success.btn-xs{type: "button", onclick:"site_autorise(#{site.id})"}
													Autoriser
												%button.btn.btn-danger.btn-xs{type: "button", onclick:"site_interdit(#{site.id})"}
													Interdire
				.modal-footer
					%button.btn.btn-primary{type: "submit", form: "formAction"}
						Enregistrer
					ou
					%a{"data-dismiss"=>"modal"}
						Annuler

:coffeescript				
	$ ->
		type_droit = []
		site_droit = []
		
		$('#myModal').on('show.bs.modal', (event) ->
			button = $(event.relatedTarget)
			modal = $(this)
			modal.find('.modal-title').text(button.data('title'))
			$('#userId').val(button.data('id'))
			$('#userName').val(button.data('name'))
			$('#userLogin').val(button.data('login'))
			$('#userEmail').val(button.data('email'))
			$('#userAdmin').prop('checked',button.data('admin'))
			$('#userActif').prop('checked',button.data('actif'))
			$('#userPassword').val("")
			type_droit = []
			typeDroitStr = button.data('typedroit')
			type_droit = typeDroitStr.split(",") if typeDroitStr
			$('.ligne_type').removeClass('success')
			for type in type_droit
				$('#ligne_type_' + type).addClass('success')
			changeTypeDroit()
			site_droit = []
			siteDroitStr = button.data('sitedroit')
			site_droit = siteDroitStr.split(",") if siteDroitStr
			$('.ligne_site').removeClass('success')
			for site in site_droit
				$('#ligne_site_' + site).addClass('success')
			changeSiteDroit()
		)
		
		removeTermFromArray = (array, term) ->
			newArray = array.filter (word) -> word isnt term.toString()
			return(newArray)
		
		addTermToArray = (array, term) ->
			addBool = true
			for id in array
				addBool = addBool and id!=term.toString()
			newArray = array
			newArray = array.push(term.toString()) if addBool
			return(newArray)
					
		changeTypeDroit = () ->
			$('#typeDroits').val(type_droit.join())
		
		changeSiteDroit = () ->
			$('#siteDroits').val(site_droit.join())
		
		type_autorise = (id) ->
			$('#ligne_type_' + id).addClass('success')
			addTermToArray(type_droit, id)
			changeTypeDroit()
		
		type_interdit = (id) ->
			$('#ligne_type_' + id).removeClass('success')
			type_droit = removeTermFromArray(type_droit, id)
			changeTypeDroit()
			
		site_autorise = (id) ->
			$('#ligne_site_' + id).addClass('success')
			addTermToArray(site_droit, id)
			changeSiteDroit()
		
		site_interdit = (id) ->
			$('#ligne_site_' + id).removeClass('success')
			site_droit = removeTermFromArray(site_droit, id)
			changeSiteDroit()
		
		window["type_autorise"] = type_autorise
		window["type_interdit"] = type_interdit
		window["site_autorise"] = site_autorise
		window["site_interdit"] = site_interdit
